{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts details{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
          <a href="{{ url_for('blog.like', id=post['id']) }}">Like [{{ post['likes'] }}]</a>
          <a href="{{ url_for('blog.dislike', id=post['id']) }}">Dislike [{{ post['dislikes'] }}]</a>
        </div>
      </header>
      <p class="body">{{ post['body'] }}</p>
      <!-- Show the comment list -->
      <!-- TODO: put comments tabbed -->
      <h2>Comments</h2>
      <!-- If user is logged can comment the post -->
      <!-- TODO: put comment as button despite of href -->
      {% if g.user['id'] %}
          <!--  <a class="action" href="{{ url_for('blog.comment', id=post['id']) }}">Comment post</a> -->
          <form action="{{ url_for('blog.comment', id=post['id']) }}" method="post">
            <label for="body">Body</label>
            <textarea name="body" id="body" required>{{ request.form['body'] }}</textarea>
            <input type="submit" value="Comment">
          </form>
      {% endif %}
      {% for comment in comments %}
        <div>
          <div class="about">by {{ comment['username'] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</div>
          <p class="body">{{ comment['body'] }}</p>
        </div>
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}