{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts details{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
          <div class="tags">{{ post['tags'] }}</div>
          <a href="{{ url_for('blog.like', id=post['id']) }}">Like [{{ post['likes'] }}]</a>
          <a href="{{ url_for('blog.dislike', id=post['id']) }}">Dislike [{{ post['dislikes'] }}]</a>
        </div>
      </header>
      <hr>
      {{post['body'] |markdown}}
      <hr>
      <!-- Show the comment list -->
      <h2>Comments</h2>
      <!-- If user is logged can comment the post -->
      {% if g.user['id'] %}
          <form action="{{ url_for('blog.comment', id=post['id']) }}" method="post">
            <label for="body">Body</label>
            <textarea name="body" id="body" required>{{ request.form['body'] }}</textarea>
            <input type="submit" value="Comment">
          </form>
      {% endif %}
      {% for comment in comments %}
        <div>
          <div class="about">by {{ comment['username'] }} on {{ comment['created'].strftime('%Y-%m-%d') }}</div>
          <h3>Repplies</h3>
          <p class="body">{{ comment['body'] }}</p>

          {% if subcomments[comment['comment_id']] %}
            {% for subcomment in subcomments[comment['comment_id']] %}
              <p class="body">{{ subcomment }}</p>
              {% if not loop.last %}
                <hr>
              {% endif %}
            {% endfor %}
          {% endif %}

          <form action="{{ url_for('blog.repply', id=comment['comment_id']) }}" method="post">
            <input name="author_id" id="author_id" value="{{ g.user['id'] }}" hidden>
            <input name="post_id" id="post_id" value="{{ post['id'] }}" hidden>
            <input name="repply" id="repply" value="" required>
            <input type="submit" value="Repply">
          </form>
          {% if g.user['id'] == post['author_id'] or g.user['id'] == comment['author_id'] %}
            <form action="{{ url_for('blog.uncomment', id=comment['comment_id']) }}" method="post">
              <input name="author_id" id="author_id" value="{{ g.user['id'] }}" hidden>
              <input name="post_id" id="post_id" value="{{ post['id'] }}" hidden>
              <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
          {% endif %}
        </div>
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}