{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- Filter by tags elements -->
  <label for="filtered_tag">Available tags</label>
  {% for tag in posts_tags %}
    <a href="{{ url_for('blog.filter_tag', multiple_tags=tag) }}"><div>{{ tag }}</div></a>
  {% endfor %}
  <form action="{{ url_for('blog.filter_tag') }}" method="GET">
    <label for="multiple_tags">Filter by multiple tags</label>
    <input name="multiple_tags" id="multiple_tags" value="{{ request.form['multiple_tags'] or multiple_tags }}" >
    <input type="submit" value="Filter">
  </form>
  <form action="{{ url_for('blog.index') }}">
      <input type="submit" value="Clear filters" />
  </form>
  <hr>
  <!-- Filter by post title -->
  <form action="{{ url_for('blog.filter_title', title=title) }}" method="GET">
    <label for="title_to_find">Find by title</label>
    <input name="title_to_find" id="title_to_find" value="{{ title_to_find }}">
    <input type="submit" value="Find">
  </form>
  <hr>
  <!-- Show posts -->
  {% if pagination %}
    {{ pagination.links }}
  {% endif %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <a href="{{ url_for('blog.detail', id=post['id']) }}"><h1>{{ post['title'] }}</h1></a>
          <img src="{{ url_for('blog.image', id=post['id']) }}" alt="icon" height="42" width="42">
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
          <div class="tags">{{ post['tags'] }}</div>
          <p>Likes [{{ post['likes'] }}] - Dislikes [{{ post['dislikes'] }}]</p>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% if pagination %}
    {{ pagination.links }}
  {% endif %}
{% endblock %}